{
    "root": true,
    "parser": "babel-eslint",
    "globals": {
        "$": true
    },
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "extends": ["standard", "prettier"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
      "no-new":"off",
      "no-unused-vars":"warn",
      "no-self-compare":"warn",
    },
    "plugins": ["import", "promise", "compat","html"]
}
